* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F0F0F0 !important;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /* color:white; */

  }

  #title-style{
    border: solid; 
    width: max-content; 
    padding-left: 1%; 
    padding-right: 1%;
    margin-top: 2%;
  }

  .create-form, .content {
    width: 30%;
    margin: 0px auto;
    border: 1px solid #FF548C;
    background: white;
    border-radius: 10px 10px 10px 10px;
    padding: 2%; 
    margin-top: 2%;
  }